.order_ {
	margin-bottom: 0 !important;
}

.quantity-height {
	height: 50px;
}

.btn-rounded-quantity {
	width: 50px;
	height: 50px;
	color: #faf7f0;
	background-color: $primary;
	border-color: #faf7f0;
	transition: transform 0.3s ease-in-out;

	&:hover {
		color: #faf7f0;
		background-color: rgba(36, 89, 73, 1);
		border-color: rgba(36, 89, 73, 1);
		transform: scale(1.1);
	}
}

.btn-rounded-quantity:focus,
.btn-rounded-quantity.focus {
	box-shadow: 0 0 0 0.2rem rgba(36, 89, 73, 1);
}

.btn-rounded-quantity:disabled,
.btn-rounded-quantity.disabled {
	color: #6c757d;
	background-color: $primary;
	border-color: $primary;
}
