
@import "home";

.custom-btn {
  width: 100%;
  border-radius: 10px;
}

.quantity-btn {
  background-color: white;
  border: 1px solidrgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
}

.quantity-input {
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
}

