<header class="d-flex justify-content-between py-2 position-fixed bg-none w-100 px-2">
  <h3 class="bebas text-uppercase fw-bold body-color">BrewUp</h3>

  <ul class="d-flex gap-2">
    <li class="list-unstyled">
      <a class="nav-link text-decoration-none body-color" href="">
        Brewery
      </a>
    </li>
    <li class="list-unstyled">
      <a class="nav-link text-decoration-none body-color" href="">
        Beers
      </a>
    </li>
    <li class="list-unstyled">
      <a class="nav-link text-decoration-none body-color" href="">
        Login
      </a>
    </li>
  </ul>

</header>
