<div class="bg-light p-3"><h1>Votre panier</h1>

  <div class="cards">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div>
     <h2>Quantity</h2>
      <script>
          const QuantityInput = document.querySelector('input[name="quantity"]');
            console.log(hiddenQuantityInput.value);
            // Use the quantity value as needed
      </script>
    </div>

    <div class="card-category">
      <h2>Price</h2>
      <p><%= @beer.unit_price %></p>
    </div>
  </div>
</div>
