<div class="container mt-3">
  <h1>All beers</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @beers.each do |beer| %>
    <div class="col">
      <div class="card h-100">
        <img src="https://petitecave.ch/4931-large_default/heineken-original-24x25cl.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title"> <%= beer.name %> </h5>
          <p class="card-title"> <em><%= beer.centiliter %>cl</em></p>
            <div class="d-flex justify-content-between align-items-center">
            <p class="card-title mb-0"><b><%= beer.unit_price %> €</b></p>
            <%= link_to "See more", beer_path(beer), class: "btn btn-outline-success" %>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
