<div class="container-fluid w-50 mt-5">

  <div class="container d-flex justify-content-between align-items-center mb-3">
    <h1>Add a new beer</h1>
    <%= render "shared/back" %>
  </div>

  <%= render "shared/form" %>

</div>
