header {
	transition: background-color 0.5s ease-in-out;
}

header.scrolled {
	background: $primary;
}

.nav-link {
	z-index: 99;
	color: $body-color;
	position: relative;
	padding-bottom: 4px;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 2px;
		background-color: $body-color;
		transition: width 0.3s ease-in-out;
	}

	&:hover::after {
		width: 100%;
	}
}
